<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Required to define preference for BlogRepository -->
    <preference for="Advik\BlogApi\Api\BlogRepositoryInterface"
                type="Advik\BlogApi\Model\BlogRepository"/>
    <!-- Required -->
    <preference for="Advik\BlogApi\Api\Data\BlogInterface"
                type="Advik\BlogApi\Model\Blog"/>

    <!-- Required for Repository getList() method  -->
    <preference for="Advik\BlogApi\Api\Data\BlogSearchResultsInterface"
              type="Magento\Framework\Api\SearchResults"/>
    <!-- OR
    <preference for="Advik\BlogApi\Api\Data\BlogSearchResultsInterface"
                type="Advik\BlogApi\Model\Data\BlogSearchResults"/>-->

    <!-- Admin Grid  -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_grid_listing_data_source" xsi:type="string">Advik\BlogApi\Model\ResourceModel\Blog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Advik\BlogApi\Model\ResourceModel\Blog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_blog</argument>
            <argument name="resourceModel" xsi:type="string">Advik\BlogApi\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>
    <!-- /Admin Grid  -->
</config>
